@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primaryHover: #1d4ed8;
    --color-secondary: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* ont-family: Arial, Helvetica, sans-serif; */
}